<form (ngSubmit)="onSubmit()" #wishlistForm="ngForm">
  <div class="wishlist-header">
    <h4>You did great!</h4>
    <h6>Your wishlist is waiting~</h6>
  </div>

  <app-input-form
    label="Wishlist Item"
    type="text"
    placeholder="Game Console"
  ></app-input-form>

  <app-input-form
    label="Description"
    type="text"
    placeholder="I want this for my birthday."
  ></app-input-form>

  <app-button
    label="Submit Wishlist"
    color="blue"
    size="medium"
    type="submit"
    (buttonClick)="onSubmit()"
  ></app-button>
</form>
