<div class="nudge-popup" (click)="$event.stopPropagation()">
  <div class="container">
  <div class="header">
    <h2>Take a Breather</h2>
  </div>

  <div class="content">
    <div *ngIf="loading">Loading nudges...</div>
    <div *ngIf="error" class="error">{{ error }}</div>

    <ul *ngIf="!loading && !error">
      
      <div *ngFor="let nudge of nudges">{{ nudge }}</div>
    </ul>
  </div>
    <app-button
    label="I am Done!"
    color="blue"
    size="medium"
    type="submit"
    (buttonClick)="closePopup()"
  ></app-button>
</div>
</div>
