ion-content {
    --background: white;
}

.reminders-container{
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
  margin-top: 30px;
  background-color: transparent;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  padding: 20px 15px;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
  width: 100%;
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  max-width: 400px;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(153, 86, 222, 0.8); 
  margin-right: 15px;
}

.icon {
  color: #fff;
  font-size: 24px;
}

.settings-icon {
  margin-left: 70px;
  color: #666666;
  font-size: 30px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-weight: 700;
    font-size: 1.4rem;
    color: #333333;
    margin-bottom: 4px;
}

.subtitle {
    font-size: 0.9rem;
    color: #666666;
    font-weight: normal;
}


.mood-chart-container {
  padding: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
  text-align: center;

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #0e4861;
    font-weight: 500;
    text-align: start;
  }

  .mood-bar-graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 150px;
    padding: 0 10px;
  }

  .bar-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 6px;
  }

  .bar-wrapper {
    height: 100px;
    width: 100%;
    min-width: 30px;
    max-width: 45px;
    background: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }

  .bar-fill {
    width: 100%;
    transition: height 0.3s ease;
  }

  .bar-label {
    margin-top: 6px;
    font-size: 12px;
    color: #333;
  }

  @media (max-width: 600px) {
    .bar-wrapper {
      max-width: 20px;
    }

    .bar-label {
      font-size: 11px;
    }
  }
}