<ion-content [fullscreen]="true">
  <div class="header-container">
    <div class="page-title">
      <div class="icon-circle">
        <ion-icon name="people-outline" class="icon" size="large"></ion-icon>
      </div>
      <div class="texts">
        <div class="title">Family Dashboard</div>
        <div class="subtitle">Your family's wellness journey</div>
      </div>
      <div class="settings">
        <ion-icon name="settings-outline" class="settings-icon"></ion-icon>      
      </div>
    </div>
  </div>
  <app-family-leaderboard [familyKey]="'QUJ123'"></app-family-leaderboard>

  <div class="mood-chart-container">
    <h2>This Week's Mood Trend</h2>
    <div class="mood-bar-graph">
      <div class="bar-column" *ngFor="let day of moodScores">
        <div class="bar-wrapper">
          <div class="bar-fill" [style.height.%]="day.score * 10" [style.backgroundColor]="getMoodColor(day.score)">
          </div>
        </div>
        <p class="bar-label">{{ day.day }}</p>
      </div>
    </div>
  </div>

  <div class="reminders-container">
    <app-reminders></app-reminders>
  </div>

</ion-content>