<ion-content [fullscreen]="true">
  <div class="header-container">
    <div class="page-title">
      <div class="icon-circle">
        <ion-icon name="gift-outline" class="icon" size="large"></ion-icon>
      </div>
      <div class="texts">
        <div class="title">Gift Quests</div>
        <div class="subtitle">Share your amazing talents!</div>
      </div>
    </div>
  </div>
  <div class="parent-container">
    <app-category class="categories"></app-category>
  </div>
  <div class="progress-container">
    <app-progress></app-progress>
  </div>
  <div class="available-quest">
    <div class="title">
      <h2>Available Quest</h2>
    </div>
  </div>
  <div class="quest-container">
    <app-quest></app-quest>
  </div>
  <div class="reminders-container">
    <app-reminders></app-reminders>
  </div>
</ion-content>
