.page-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    width: 100%;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    max-width: 400px;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    margin-top: 50px;
    background-color: transparent;
}

.available-quest{
    padding: 0 20px;
    margin: 15px 0;
    h2{
        font-weight: bold;
        font-size: 18px;
    }
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(117, 208, 106, 0.8);
  margin-right: 15px;
}

.icon {
  color: #fff;
  font-size: 24px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-weight: 700;
    font-size: 1.4rem;
    color: #333333;
    margin-bottom: 4px;
}

.subtitle {
    font-size: 0.9rem;
    color: #666666;
    font-weight: normal;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: transparent;
}

.quest-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: transparent;
}

.reminders-container{
    padding: 0 20px;
    margin-bottom: 20px;
}

.gift-quest {
    height: 88px;
    border-radius: 25px;
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.categories {
    width: 100%;
}

ion-content {
    // --background: rgb(207, 253, 204);
    --background: white;
}
