ion-content {
    --background: white;
}


.assessment-content{
    margin-top: 25%;
}
.assessment-header{
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 900;
    margin-bottom: 7px;
    color: rgb(31, 167, 225);
    padding: 0 12px;
}

.assessment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px; 
}

app-input-form {
    width: 100%;
    max-width: 500px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.assessment-button {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: white;
}

@media (max-width: 360px) {
    .assessment-container {
    padding: 12px;
    gap: 16px;
    }

    app-input-form,
    app-button {
    max-width: 100%;
    }

}
